html{
    height: 100%;
}
body{
    background-image:url(../img/041\ Happy\ Acid.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 180px;
}
span{
    font-family:cursive;
    font-size: 150%;
}
#app{
    size: 500%;
}
hr{
    color:white;
    size:5px;   
}
#logButton{
    text-align: right;
    padding-right: 1%;
}
.button{
    display: inline-block;
    text-align: center;
    height: 100px;
    margin:20px;
    font-size: 50px; 
    cursor: pointer;
}
.button:hover{
    opacity: 1;
    transform:scale(1.1,1.1);
}
#app{

    text-decoration: none;
    border: solid white 4px;
    border-radius: 15px;
    padding: 15px;
    border-width:5px; 
  
}
#tracker{
    text-decoration: none;
    text-align: center;
    border: solid white 4px;
    border-radius: 15px;
    padding: 15px;
    border-width:5px; 
}
#wrapper
{
    text-align: center;
}
#wrapper a{
    color:#681fa1;
}
img{
    height: 50px;
    width: 50px;
}